.Group{
    background-color: #121212;  
    padding-bottom: 220px;
}
.Group__span{
    color: aqua;
}
.Group__title{
    color: white;
    padding-top: 300px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 100px;
}
.Group__span2{
    width: 750px;
    height: 3px;
    color: white;
    border: 1px solid aqua;
    margin-top: 212px;
}   
.Group__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;      
}
.Group__box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box1 , .box2{
    width: 400px;
    height: 400px;
    background-color: #061A29;
    border-radius: 30px;
    color: white;
    text-align: center;
}
.box1__title{
    padding-top: 150px;
    font-weight: 500;
    font-size: 40px;
}
.box1__p1{
    width: 100px;
    display: block;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}
.box1__p2{
    padding-top: 10px;
    color: #69DBFF;
    font-size: 28px;
    font-weight: 500;
}
.box1__p3{
    padding-left: 80px;
    margin-top: 40px;
    color: #948989;
    font-size: 30px;
    font-weight: 500;
}